:root {
  --product-white: #ffffff;
  --product-black: #181818;
  --vt-c-indigo: #2c3e50;
  --product-green: #42b883;
  --product-red: #ff0000;
  --thumb-width: 267px;
  --space-gap: 1rem;
  --catergory-min-width: 36ch;
  --max-readable-text: 80ch;
}
button[type='button'] {
  border: none;
  background: var(--product-green);
  cursor: pointer;
  padding: 0.25rem 1rem;
  color: var(--product-white);
  &:active {
    transform: scale(0.95);
  }
}
button[type='reset'] {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0.25rem 1rem;
  color: var(--product-red);
}
a {
  color: var(--product-green);
  text-underline-position: under;
}

@media (hover: hover) {
  a {
    text-underline-position: under;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  color-scheme: light dark;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  ::backdrop {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

body {
  margin: 0;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: system-ui;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}