@import './base.css';

#app {
  padding: 2rem;
  font-weight: normal;
  width: 100%;
}


@media (min-width: 1024px) {
  body {
    display: flex;
  }
  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
